*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 65.2%; }

body {
  font-size: "Nunito", sans-serif;
  font-weight: 300;
  color: #6D5D4B;
  line-height: 1.6; }
